/* NEWS PAGE */
#carousel-section{
    margin-bottom: 20px;
}
#carousel-section .container{
    height: 375px;
}

#carousel-section .container .carousel{
    margin-top: 40px;
}

#carousel-section .container .carousel, #carousel-section .container .carousel .carousel-inner, #carousel-section .container .carousel .carousel-inner .item{
    height: 100%;
}

#carousel-section .carousel-indicators li {
    background-color: #fff;
    background-color: rgba(70,70,70,.25);
}

#carousel-section .carousel-indicators .active {
    background-color: #444;
}

#carousel-section .container .carousel .carousel-inner .item>img{
    width: 100%;
    height: 100%;
}

/* DIDACTIC CONTENT PAGE */

#didactic-content .container{
    width: 100%;
    margin-top: 50px;
}
#didactic-content .container .didactic-content-content .navbar .container-fluid .d-flex{
    margin: 15px 0px;
}

#didactic-content .container .didactic-content-filters{
    margin-left: 3%;
    margin-right: 2%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    line-height: 1.42857143;
    color: #00766c;
    text-align: center;
}

#didactic-content .container .didactic-content-content, #didactic-content .container .didactic-content-filters{
    border-style: solid;
    border-color: #00A295;
    border-width: thin;
    border-radius: 0.5rem;
    height: 70rem;
}
#didactic-content .container .didactic-content-content .navbar .container-fluid .d-flex>input{
    width: 89%;
    display: inline-flex;
    margin: 0;
}

#didactic-content .container .didactic-content-content .navbar .container-fluid .d-flex>button{
    width: 10%;
    height: 35px;
    margin-bottom: 4px;
    font-size: 14px;
    --text-opacity: 1;
    color: #fff;
    border-bottom-width: 4px;
    --border-opacity: 1;
    border-color: #00A295;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: .25rem;
    position: relative;
    background: linear-gradient(to bottom, #00766c 0%, #00A295 100%);
}


/* PERSONAL DATA PAGE */

#customer-personal-data .container{
    width: 95%;
    height: 800px;
    color: black;
    padding: 20px;
    margin-top: 25px;
    background-color: lightgray;
}

#customer-personal-data .container .col-sm-6 .personal-data-header>svg{
    width: 1em;
    font-size: 50px;
    height: 0.75em;
    display: inline-flex;
    margin-right: 8px;
    vertical-align: -8px;
}

#customer-personal-data .container .col-sm-6 .form-check{
    padding: 10px;
}

#customer-personal-data .container .col-sm-6 .personal-data-fields{
    padding: 10px;
}

#customer-personal-data .container .col-sm-6 .personal-data-fields>input{
    padding: 5px;
    height: 45px;
    width: 85%;
    margin-bottom: 20px;
}


#customer-personal-data .container .col-sm-6 .personal-data-fields #metricas>input{
    padding: 5px;
    height: 45px;
    margin-bottom: 20px;
}

