

/* Global header */
.global-header{
    background: #00766c;
    border-radius: 0px;
    border-color: #00766c;
    padding: 20px;
}

.navbar{
    margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
}

#customer-header .navbar-default .navbar-nav{
    width: 100%;
}

#customer-header .navbar-default .navbar-nav>li {
    display: inline-block;
    float: none;
    width: 24%;
    text-align: center;
}

#customer-header .navbar-default .navbar-nav>li>a {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: black;
    font-size: 16px;

}
#customer-header .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #8d8d8d;
    background-color: #bdbdbd;
    opacity: 0.5;
}


.navbar-default .navbar-nav .navbar-left>li>a, .navbar-default .navbar-nav .navbar-left>li>a:hover {
    font-size: 50px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: transparent;
    background-color: transparent;
}

.header-dropdown-icon{
    padding: 0;
    padding-right: 15px;
}

.header-dropdown-icon>i{
    font-size: 50px;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color: #fff;
}

.global-header .navbar-brand {
    font-size: 50px;
}
.global-header .container-fluid .navbar-collapse .navbar-right>li #svg-messenger:hover{
    opacity: 0.5;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-menu #header-lateral-menu{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}
