.container .title{
    padding: 10px;
    color: #00766c;
    justify-content: center;
    text-align: center;
}

.container .title>h1{
    font-size: 65px;
}

.container .webdescription{
    font-size: 22px;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.container .loginactions{
    justify-content: center;
    display: flex;
}

.container .registerform{
    justify-content: center;
    display: flex;
}

.container .loginactions .login-button-item{
    width: 40%;
    margin: 0% 20%;
}

.container .loginactions .login-button-item>button{
    width: 100%;
    height: 50px;
    margin: 10px;
}

.container .loginactions .login-button, .container .loginform .login-button{
    font-weight: 500;
    font-size: 1.25rem;
    --text-opacity: 1;
    color: #fff;
    border-bottom-width: 4px;
    --border-opacity: 1;
    border-color: #00A295;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: .25rem;
    position: relative;
    background: linear-gradient(to bottom, #00766c 0%, #00A295 100%);
}

.container .loginactions .login-button:active, .container .loginactions .login-button:hover,
.container .loginform .login-button:active, .container .loginform .login-button:hover{
    background: linear-gradient(to bottom, #066C63 0%, #15877D 100%);
    border-color: #15877D;
}

.container .loginactions .login-button-grey{
    font-weight: 500;
    font-size: 1.25rem;
    --text-opacity: 1;
    color: #fff;
    border-bottom-width: 4px;
    --border-opacity: 1;
    border-color: #bdbdbd;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: .25rem;
    position: relative;
    background: linear-gradient(to bottom, #8d8d8d 0%, #bdbdbd 100%);
}

.container .loginactions .login-button-grey:active, .container .loginactions .login-button-grey:hover{
    background: linear-gradient(to bottom, #7a7a7a 0%, #a0a0a0 100%);
    border-color: #a0a0a0;
}

.container .loginform{
    justify-content: center;
    display: flex;
}

.container .loginform .col-sm-6 .form-login>input{
    height: 45px;
}

.container .loginform .col-sm-6 .form-login>p{
    text-align: center;
    font-size: 1.5rem;
    padding-top: 10px;
    margin: 0;
}

.container .loginform .col-sm-6 .form-login>p>a{
    color: #00766c;
}

.container .loginform .login-button-item>input{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    font-size: 1.5rem;
}

#carousel-login-page-section .container #carouselLoginPage {
    height: 300px;
    margin-bottom: 60px;
}

#carousel-login-page-section .container #carouselLoginPage .item .carousel-caption {
    z-index: 10;
}

#carousel-login-page-section .container #carouselLoginPage .item {
    width: 100%;
    background-color: #777;
}

#carousel-login-page-section .container #carouselLoginPage .carousel-inner > .item > img {
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
}
