{% include 'header.html.twig' %}
{% block content %}
    <!DOCTYPE HTML>
    <html lang="es">
    <section id="content">
        Content Default
    </section>
    <footer>
        Trabajo de fin de grado Nutrik
    </footer>
    </html>
{% endblock %}
