<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <title>
            {% block title %} NutriK {% endblock %}
        </title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-th-large"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Pagina Principal</a></li>
                                    <li><a href="#">Agenda Personal</a></li>
                                    <li><a href="#">Calendario / Notificaciones</a></li>
                                    <li><a href="#">Mensajeria</a></li>
                                    <li><a href="#">Clientes</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Programar Consulta</a></li>
                                    <li><a href="#">Añadir Cliente</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="navbar-brand" href="#">NutriK</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><p style="padding-top: 15px; padding-bottom: 15px">Hola :)</p></li>
                            <li><a href="#">Inicia Sesion</a></li>
                            <li><i style="padding: 15px" class="glyphicon glyphicon-user"></i></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>
        <section id="content">
            {% block content %} Content Default {% endblock %}
        </section>
        <footer>
            Trabajo de fin de grado Nutrik
        </footer>
    </body>
</html>
