{% block content %}
    <!DOCTYPE HTML>
    <html lang="es">
    <header>
        <!-- Login Page stylesheet-->
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/customerpages.css') }}" />
    </header>
    <section id="default-header">
        {% include 'header.html.twig' %}
    </section>
    <section id="customer-header">
        {% include 'customerheader.html.twig' %}
    </section>
    <section id="recipes">
        <div class="container">
            <div class="col-sm-12">
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                        <form class="d-flex recipes-finder">
                            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Buscar</button>
                        </form>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div id="recipes-content">
                        <div class="col-sm-7">
                            <div id="recipe-content">
                                <div id="recipe-title">
                                </div>
                                <div id="recipe-nutritional-info">
                                </div>
                                <div id="recipe-images">
                                </div>
                                <div id="recipe-steps">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div id="recipe-content">
                                <div id="recipe-ingredients">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </html>
{% endblock %}
