{% block content %}
    <!DOCTYPE HTML>
    <html lang="es">
    <header>
        <!-- Login Page stylesheet-->
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/nutritionistpages.css') }}" />
    </header>
    <section id="default-header">
        {% include 'header.html.twig' %}
    </section>
    <section id="nutritionist-add-customer">
        {% for message in  app.session.flashbag().get('addCustomerKOStatus') %}
            <div class="row" style="width: 91.3%; margin-left: 4.3%; margin-top: 10px; margin-bottom: -35px;">
                <div class="alert alert-danger" role="alert" style="margin-bottom: 0">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        {% for message in  app.session.flashbag().get('addCustomerOKStatus') %}
            <div class="row" style="width: 91.3%; margin-left: 4.3%; margin-top: 10px; margin-bottom: -35px;">
                <div class="alert alert-success" role="alert" style="margin-bottom: 0">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="container">
            <div class="col-sm-12">
                <div id="invite-customer-block" style="width: 50%; margin-left: 25%; height: 70rem; margin-top: 5rem">
                    <form class="form" action="{{ path("nutritionist_add_customer") }}" method="post" novalidate>
                        <div class="col-sm-12">
                            <div class="personal-data-header">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                </svg>
                                <h3 style="display: inline-flex">Invitar Cliente</h3>
                            </div>
                            <br/>
                            <div class="personal-data-fields">
                                <label for="firstname">Nombre:</label><input type="text" id="firstname" name="firstname" class="form-control" required/>
                                <label for="lastname">Apellidos:</label><input type="text" id="lastname" name="lastname" class="form-control" required/>
                                <label for="email">Email:</label><input type="email" id="email" name="email" class="form-control" required/>
                                <label for="invitation">Invitación:</label><textarea type="text" id="invitation" name="invitation" class="form-control" style="height: 160px"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="save-button-item">
                                <input class="btn save-button" type="submit" name="submit" value="Invitar"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    </html>
{% endblock %}
