{% block content %}
    <!DOCTYPE HTML>
    <html lang="es">
    <header>
        <!-- Login Page stylesheet -->
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/nutritionistpages.css') }}" />
    </header>
    <section id="default-header">
        {% include 'header.html.twig' %}
    </section>
    <section id="nutritionist-calendar">
        <header>
            <!-- Calendar Page stylesheet -->
            <link rel="stylesheet" href="{{ asset('bundles/framework/css/calendar.css') }}" />
            <!-- Calendar JS -->
            <script src="{{ asset('public/js/calendar.js') }}"></script>
            <!-- NutriK Calendar JS -->
            <script src="{{ asset('bundles/framework/js/nutrik-calendar.js') }}"></script>
        </header>
        <div class="container">
            <div class="col-sm-12">
                <div id="calendar-block">
                    <div id='wrap'>

                        <div id='calendar'></div>

                        <div style='clear:both'></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </html>
{% endblock %}
